body {
    background-color: #f7f7f7;
}

.navbar {
    background-color: #343a40; /* Warna navbar */
    padding: 10px 20px;
    border-radius: 16px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-toggler {
    border: none;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.login-button {
    background-color: #009970;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Gaya khusus untuk layar mobile */
@media (max-width: 991px) {
  .login-button {
    display: none; /* Sembunyikan tombol login di layar kecil */
  }
  
  .navbar-nav .nav-link {
    color: #000000; /* Ubah warna teks offcanvas di perangkat mobile */
  }
}

.login-button:hover {
    background-color: #0056b3;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:hover {
    box-shadow: none;
    outline: none;
}

.navbar-toggler:focus .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.hero-section {
    padding: 100px 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .nav-link {
        color: #000000;
    }
}

@media (min-width: 990px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #009987;
        visibility: hidden;
        transition: 0.3ms ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}
